<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.human.ISP.dao.CategoryDAO">
	
	<!-- 대분류/소분류로 게시글찾기 -->
	<select id="selectByCategory" parameterType="hashMap" resultType="int" >
		select category_idx from category
		where lc_name=#{lc_name} and sc_name=#{sc_name}
			
	</select>
	
	<select id="selectByLcname" parameterType="hashMap" resultType="int">
		select category_idx from category
		where lc_name=#{lc_name}
	</select>
	
</mapper>