<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.human.ISP.dao.MoimCategoryDAO">
	
	<!-- 모임 카테고리 저장하기 -->
	<insert id="insert" parameterType="MoimCategoryVO">
		insert into MoimCategory values
		(moimCategory_idx_seq.nextval, #{moim_idx}, #{category_idx})
	</insert>
	
	<!-- 카테고리에 따른 모임idx(여러개) 가져오기 -->
	<select id="selectByCategory" parameterType="int" resultType="int">
		select moim_idx from moimCategory where category_idx=#{category_idx}
	</select>
	
	<!-- 카테고리에 따른 모임 갯수 가져오기 -->
	<select id="selectCountByCategory" parameterType="int" resultType="int">
		select count(*) from moimCategory where category_idx=#{category_idx}
	</select>
	
	<!-- 모임 카테고리 변경하기 -->
	<update id="update" parameterType="MoimCategoryVO">
		update moimCategory set
		category_idx=#{category_idx}
		where
		moim_idx=#{moim_idx}
	</update>
	
</mapper>